@import '../Info', '../../../common/styles/globals';

#fifth-section {
  @extend .column-wrapper;
  margin: 96px 23vw;
  .section-text {
    gap: 40px;
    h2 {
      @include section-header;
    }
    p {
      @include section-text;
    }
  }
  &>img {
    margin-bottom: 40px
  }
}

@include breakpoint($tablet-width) {
  #fifth-section {
    @include single-column-tablet;
  }
}

@include breakpoint($phone-width) {
  #fifth-section {
    @include single-column-phone;
  }
}
