@import '../../common/styles/globals';

#hero-section {
  background-blend-mode: overlay;
  background-image: url('../../common/images/hero-image.png'), $hero-gradient;
  background-position: center center;
  background-size: cover;
  height: 616px;
}

#hero-wrapper {
  align-items: center;
  display: flex;
  gap: 15vw;
  height: 100%;
  margin-left: 8vw;
  width: 80vw;
  article {
    color: $header-text-color;
    h1 {
      font-size: 40px;
      font-weight: 500;
      letter-spacing: -1px;
      line-height: 48px;
      margin-bottom: 24px;
    }
    p {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 24px;
    }
    div {
      display: flex;
      align-items: center;
      gap: 16px;
      a {
        @include link-hover($header-text-color);
        color: $header-text-color;
        text-decoration: none;
      }
    }
  }
  #hero-image {
    width: 25vw;
    transition: .1s;
  }
}

// -------------- Media Queries --------------

@include breakpoint($tablet-width) {
  #hero-wrapper {
    #hero-image { display: none; }
  }
}

@include breakpoint($phone-width) {
  #hero-section {
    background-image: url('../../common/images/hero-image-mobile.png'), $hero-gradient;
    height: 540px;
  }

  #hero-wrapper {
    margin: 0 16px;
    width: auto;
    article {
      margin-top: 30px;
      h1 {
        line-height: 32px;
        font-size: 28px;
        margin: 16px;
        text-align: center;
      }
      p {
        line-height: 28px;
        font-size: 16px;
        text-align: center;
      }
      div {
        margin-top: 60px;
      }
    }
  }
}
