// Primary colors
$brand-color-primary: #00c88c;
$brand-color-secondary: #5e20a4;
$hero-gradient: linear-gradient(314.72deg, #C86DD7 -1.5%, #7E49C3 39.43%, #5912AC 86.02%);
$app-background: #faf9f7;
$widget-background: #fff;
$header-text-color: #fff;
$link-color: #5e20a4;
$section-text-color: #3d3d3d;
$footer-background: #fff;

// Text
@mixin section-header {
  font-size: 28px;
  line-height: 32px;
  font-weight: 500;
}

@mixin section-header-small {
  @include section-header;
  font-size: 22px;
}

@mixin section-text {
  font-size: 16px;
  line-height: 28px;
}

@mixin section-text-small {
  font-size: 12px;
  line-height: 16px;
}

@mixin section-text-large {
  @include section-text;
  font-size: 18px;
}


// Interaction
@mixin button ($color, $text-color) {
  color: $text-color;
  background: $color;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  padding: 12px 22px;
  transition: 200ms;
  &:hover {
    background: scale-color($color, $lightness: 10%);
  }
  @content
}

@mixin link-hover($color) {
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $color;
    transition: width .3s;
  }
  &:hover:after {
    width: 100%;
  }
}

// Breakpoints
$desktop-width: 1440px;
$tablet-width: 930px;
$phone-width: 480px;

@mixin breakpoint($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}
