@import '../common/styles/globals';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

body {
  background: $app-background;
}

a, a:visited {
  color: $link-color;
  transition: .15s;
  &:focus, &:hover {
    color: scale-color($link-color, $saturation: 50%, $lightness: 30%);
  }
}
